<h1>Listing test_results</h1>

<table>
  <thead>
    <tr>
      <th>Test run</th>
      <th>Testcase</th>
      <th>Result</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_results.each do |test_result| %>
      <tr>
        <td><%= test_result.test_run %></td>
        <td><%= test_result.testcase %></td>
        <td><%= test_result.result %></td>
        <td><%= test_result.notes %></td>
        <td><%= link_to 'Show', test_result %></td>
        <td><%= link_to 'Edit', edit_test_result_path(test_result) %></td>
        <td><%= link_to 'Destroy', test_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test result', new_test_result_path %>
