<p id="notice"><%= notice %></p>

<p>
  <strong>Test run:</strong>
  <%= @test_result.test_run %>
</p>

<p>
  <strong>Testcase:</strong>
  <%= @test_result.testcase %>
</p>

<p>
  <strong>Result:</strong>
  <%= @test_result.result %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @test_result.notes %>
</p>

<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
