<p id="notice"><%= notice %></p>

<p>
  <strong>Test run:</strong>
  <%= @test_result.test_run.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @test_result.testcase.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test_result.testcase.description %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @test_result.testcase.steps %>
</p>

<p>
  <strong>Result:</strong>
  <%= @test_result.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @test_result.notes %>
</p>

<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
