<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @testcase.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testcase.description %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @testcase.steps %>
</p>

<p>
  <strong>Testsuites:</strong>
  <ul>
  <% @testcase.testsuites.each do |v| %>
    <li><%= v.id %> - <%= v.title %> - <%= link_to 'Show', v %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_testcase_path(@testcase) %> |
<%= link_to 'Back', testcases_path %>
