<h1>Listing testsuites</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testsuites.each do |testsuite| %>
      <tr>
        <td><%= testsuite.title %></td>
        <td><%= testsuite.description %></td>
        <td><%= link_to 'Show', testsuite %></td>
        <td><%= link_to 'Edit', edit_testsuite_path(testsuite) %></td>
        <td><%= link_to 'Destroy', testsuite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testsuite', new_testsuite_path %>
