<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@test_run, remote: remote, html: {role: :form, 'data-model' => 'test_run'}) do |f| %>
  <% if @test_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_run.errors.count, "error") %> prohibited this test_run from being saved:</h2>

      <ul>
      <% @test_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :testsuite_id %><br>
    <%= f.text_field :testsuite_id %>
  </div>

  <%# Added Bootstrap classes %>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>
<% end %>
