<!DOCTYPE html>
<html>
<head>
  <title>Yardstick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div id="wrapper">

  <%= render 'layouts/sidebar' %>

  <div id="page-wrapper">

    <%= render 'layouts/dashboard' %>

    <%= render 'layouts/newsboard' %>

    <%= yield %>

  </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
  <%= javascript_include_tag 'footer' %>
</body>
</html>
